.redeem-container{
    height: 100vh;
    background: linear-gradient(to bottom, #ff3300, aliceblue 20%); /* 从上到下渐变 */

    .redeem-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .redeem-logo{
            margin: 20px;
            position: relative;
            .redeem-transfer{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30px;
                height: 30px;
                background: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            }
        }
        .redeem-title{
            font-size: 18px;
            margin: 20px;
        }
        .redeem-input{
            margin: 10px;
            width: 300px;
        }
        .redeem-btn{
            width: 200px;
            height: 40px;
            background: #ff3300;
            color: #fff;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            margin: 20px;
        }
    }
    
    .redeem-tip{
        margin: 20px;
        .redeem-tip-title{
            font-size: 20px;
            font-weight: 500;
        }
        .redeem-tip-content{
            font-size: 16px;
            color: #767676;
        }
    }
}