.tabs-container{
    display: flex;
    align-items: center;
    background: #fff;

    .tabs-item{
        height: 60px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        position: relative;
        color: #767676;
    }

    .tabs-item-active{
        color: #000;
    }

    .tabs-item-active::after{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background: #ff0000;
        border-radius: 3px;
        position: absolute;
        bottom: 0;
    }
}