
.product-item-list{
    flex: 1;
    height: calc(100vh - 180px);
    background: #fff;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
    ::-webkit-scrollbar {
        display:none;
        width:0;
        height:0;
        color:transparent;
    }

    .product-item-list-body{
        padding: 10px;
        overflow-x: 'hidden';
    }
}


