.address-form-container{
    height: 100vh;
    background: aliceblue;
    .address-form-title{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        font-size: 16px;
        padding: 10px;
    }
    .address-form-operate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}