.profile-edit-container{
    height: 100vh;
    background: aliceblue;
    .profile-edit-notice{
        color: #aaa;
        font-size: 14px;
        padding: 10px;
    }
    .profile-edit-operate{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}