.product-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: .5px solid #f0f0f0;
    .product-item-image{
        width: 60px;
        height: 60px;
        border: #eeeeee .1px solid;
        padding: 2px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .product-item-info{
        flex: 1;
        margin-left: 10px;
        position: relative;
        .product-item-title{
            font-size: 16px;
            font-weight: 500;
        }
        .product-item-subtitle{
            font-size: 12px;
            font-weight: 500;
            color: #767676;
        }
        .product-item-num{
            font-size: 18px;
        }
        .product-item-price-right{
            font-size: 14px;
            position: absolute;
            right:10px;
            top:0;
        }
    }
}