.load-more-list-bottom{
  height: 80px;

  .load-more-list-bottom-text{
      display: flex;
      align-items: center;
      justify-content: center;
      color:#afafaf;
      font-size: 14px;
  }

}