@font-face {
    font-family: 'AlibabaBlack';
    src: url('assets/fonts/AlimamaShuHeiTi-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AlibabaAgile';
    src: url('assets/fonts/AlimamaAgileVF-Thin.ttf') format('truetype');
}

// @font-face {
//     font-family: 'SmileySans';
//     src: url('assets/fonts/SmileySans-Oblique.ttf') format('truetype');
// }

// @font-face {
//     font-family: 'MaoKenShiJinHei';
//     src: url('assets/fonts/MaoKenShiJinHei-2.ttf') format('truetype');
// }

@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('assets/iconfont/iconfont.ttf') format('truetype');
}
  
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-minus:before {
    content: "\e8b1";
}
  
.icon-plus:before {
    content: "\e8c8";
}
  
  

