@font-face {
    font-family: 'AlibabaBlack';
    src: url('@assets/fonts/AlimamaShuHeiTi-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AlibabaAgile';
    src: url('@assets/fonts/AlimamaAgileVF-Thin.ttf') format('truetype');
}