.vip-operate{
  display: flex;
  flex-direction: row;
  height: 160px;
  margin: 0 10px ;
  gap: 10px;
}

.vip-operate-order {
  flex: 1;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  .vip-operate-order-image{
    width: 80px;
    height: 80px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .vip-operate-order-text{
    font-size: 18px;
    font-weight: 500;
    font-family: 'MaoKenShiJinHei';
    width: 80px;
    text-align-last: justify;
  }
}

.vip-operate-other {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  gap: 10px;
  font-size: 16px;
  .vip-operate-other-item{
    flex: 1;
    .vip-operate-other-item-image{
      margin-right: 10px;
      width: 40px;
      height: 40px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  
}



.operate-button{
  background-color: #fff; /* 白色背景 */
  border-radius: 8px; /* 圆角 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 阴影 */
  display: flex;
  align-items: center;
  justify-content: center;
}