.menu-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: aliceblue;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: aliceblue;
}

.notice-container{
  height: 40px;
}

